@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: 500;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview,
.blog-no-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2,
.blog-no-preview h3 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-no-preview h3 {
  text-align: center;
}
.blog-preview a {
  text-decoration: none;
}
.blog-preview p {
  font-weight: 500;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details div > p {
  font-weight: 500;
}

.blog-details .buttons-container {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.blog-details button,
.blog-details a {
  border: 1.5px solid #f1356d;
  color: #f1356d;
  background: #ffffff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}

.blog-details button:hover,
.blog-details a:hover {
  background: #f1356d;
  color: #fff;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  border: 1.5px solid #f1356d;
  color: #f1356d;
  background: #ffffff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.create button:hover {
  background: #f1356d;
  color: #fff;
}

/* Popover for highlight button */
div.popover {
  max-width: fit-content;
  max-height: 2rem;
  padding: 0.5rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  transition: 0.2s all;

  display: flex;
  align-items: center;
  white-space: nowrap;

  background-color: #c4c4c4;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

div.popover::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #c4c4c4;
}

div .popover img {
  height: 16px;
  width: 16px;
}

/* List of highlighted text */

ul {
  margin: 20px 0;
}
ul li {
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 4px;
}
ul li:hover {
  color: #f1356d;
}
